<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="header-logo">
        <a href="/"><i class="hco-logo"><span class="sr-only">Hitchin Chamber Orchestra</span></i></a>
      </h1>
      <nav class="header-social-links">
        <span class="follow-us-label hidden-xs">Follow us on</span>
        <a href="https://www.facebook.com/Hitchin-Chamber-Orchestra-350767155133431/" target="_blank"><i class="fi-social-facebook"><span class="sr-only">Facebook</span></i></a>
        <a href="https://twitter.com/hitchinchamber" target="_blank"><i class="fi-social-twitter"><span class="sr-only">Twitter</span></i></a>
      </nav>
      <nav class="header-main-nav text-center">
        <a href="{{ '/concerts/' | prepend: site.baseurl }}">Concerts</a> &middot;
        <a href="{{ '/about/' | prepend: site.baseurl }}">About</a> &middot;
        <a href="{{ '/contact/' | prepend: site.baseurl }}">Contact</a> &middot;
        <a href="{{ '/members/' | prepend: site.baseurl }}">Members</a>
      </nav>
    </div>
  </div>
</div>
